.order .col-sm-3{padding-left: 0;}
.order .col-sm-9 input{border-radius: 3px 0 0 3px;}
.order .input-group-addon{border-radius: 0; border-left: none;}

.icon-plus, .icon-remove{cursor:pointer;}

td > .form-group {margin-bottom: 10px;}
td > .form-group:last-child {margin-bottom: 0;}
td > .form-group.row .btn {position: relative; margin-top: 5px; display: block; float: left;}

.tree li a.active{font-weight: bold;}

.leftmenu > .nav{margin-bottom: 0;}
.nav-stacked.nav-primary > li:last-child > a{border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.leftmenu > .category-nav{border-radius: 0; border-top:none; margin-bottom: 0;}

.dropdown-menu{min-width: 90px; left: -40px;}
.pager .dropdown-menu{width: 213px;}
