.pager {margin-top: 0;}
.list-group{padding-left: 0; margin-top: 20px; margin-bottom: 20px;}
.list-group-item:hover {color: #333; text-decoration: none; background-color: #ebf2f9;}
.list-group-item.active, .list-group-item.active:hover{z-index: 2; color: #fff; background-color: #3280fc; border-color: #3280fc;}
.list-group-item {color: #333;text-decoration: none; position: relative; display: block; padding: 10px 15px; margin-bottom: -1px; background-color: #fff; border: 1px solid #ddd;}
.list-group-item:first-child {border-radius: 4px 4px 0 0;}
.list-group-item:last-child {margin-bottom: 0; border-radius:0 0 4px 4px;}
.cards{padding-top: 0px; padding-bottom: 10px;}
.stars-list{color: #E48600;}
