.panel{-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.125);}
.panel-body{padding-left: 10%; min-height: 220px;}
.form-group label{display: block;}
.form-group input{min-width: 250px;}
.form-group label a{font-weight: normal;}
