.tree li a.active{font-weight: bold;}
.leftmenu > .nav{margin-bottom: 0;}
.nav-stacked.nav-primary > li:last-child > a{border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.category-nav{border-radius: 0; border-top:none;}
.order{padding-left: 0;}
