#login .panel{width: 80%; margin: 5% auto;max-width: 450px;}
#login .panel-body{min-height: 230px;}
#login .panel-heading{background-color: transparent;}

.btn-oauth{text-align: left;padding-left: 130px;font-size: 24px;line-height: 50px;position: relative;text-shadow: 0 1px 0 rgba(0,0,0,0.5);color: #333;background-color: #FCFCFC;border: 1px solid #DEDEDE;}
.btn-oauth:hover{color: #333;background-color: #E8E8E8;border-color: #ccc;-moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);}
.btn-oauth .icon{font-size: 40px;position: absolute;left: 75px; text-shadow:none;}
.btn-oauth .icon:before{display: none;}

a .icon-qq, a .icon-sina{ margin-bottom: -15px; display: inline-block; width: 48px; height: 48px; margin-right: 10px; background: url('theme/default/images/main/socialicons.png') left top no-repeat;}
a .icon-sina{background-position: 0 -48px;}

#adminLogin { max-width: 500px; margin: 8% auto; padding: 0; background-color: #FFF; border: 1px solid #DDD; box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);border-radius: 6px;}
#responser { line-height: 30px; font-size: 12px }
#logo { margin-bottom: 10px; }
#adminLogin #siteName {padding: 15px 20px 15px; background: #EDF3FE; border-bottom: 1px solid #e5e5e5; border-radius: 6px 6px 0 0}
#adminLogin #ajaxForm {padding: 20px 20px;}
#adminLogin #submit {min-width: 100px;}

@media (max-width: 700px){ #adminLogin{border: none;margin: 0 auto;box-shadow: none;padding: 20px 15px;background-color: #fff; margin: 0 auto; border-radius: 0} body {padding: 0;} .container {padding: 0;} #adminLogin #siteName {background: #fff}}
@media (max-width: 767px) {#login .panel {margin: 20px auto; width: 100%;} #login .panel-heading {padding: 0 0 10px 0;} #login .panel-body {padding: 10px 0; min-height: inherit;} .btn-oauth {padding-left: 80px;} .btn-oauth .icon {left: 20px;}}

#siteName{font-size:14px; color:#444; font-weight:600; display:block;}
hr{margin-top:8px;}
